<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<span>RPA 업무 제목 : </span> <span th:text="${title}"></span>
<br><br>
<span>과제명 : </span> <span th:text="${task}"></span>
<br><br>
<span>개인정보 여부 : </span> <span th:text="${restrictYn}"></span>
<br><br>

<tr th:each="attachFileLink : ${attachFileLinks}">
    <span>파일 다운로드 : </span> <span th:text="${attachFileLink}"></span>
    <br><br>
</tr>

</body>
</html>
